

:root {
    --primary-50: #fce6e7;
    --primary-100: #fad0d3;
    --primary-200: #f79ea5;
    --primary-300: #f46273;
    --primary-400: #d42847;
    --primary-500: #9d1b32;
    --primary-600: #7e1427;
    --primary-700: #660e1e;
    --primary-800: #4b0813;
    --primary-900: #32030a;
    --primary-950: #1f0104;
}

body {
    margin: 0;
    padding: 0;
}

.login-panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    width: 100%;
    max-width: 1000px;
    margin: 0 1rem;
}

.welcome-text {
    font-size: 26px;
    font-family: Poppins, sans-serif;
    font-weight: 500;
    color: #000000;
    text-align: center;
    margin-bottom: 2.5rem;
}

.links-container {
    margin-top: 2rem;
    display: flex;
    justify-content: space-evenly;
}